@import url(./constants.css);


header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0;
    position: relative;
    background: var(--main-bg);
    z-index: 10;
}

.logo {
    background-image: var(--primary-gradient);
    background-size: 100%;
    background-repeat: repeat;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size:  2rem;
    font-family: var(--inter);
    letter-spacing: 0.3rem;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

.nav-ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    right: 1rem;
    background: var(--main-bg);
}

.nav-li {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 0 1.5rem;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
}

.nav-btn {
    background-image: var(--primary-gradient);
    border-radius: 2rem;
    font-size: 1rem;
    padding: 0.8rem 1rem;
    border: none;
    color: white;
    text-transform: uppercase;
}

.hamburger {
    display: flex;
    flex-direction: column;
    display: none;
  }

  .ham {
    content: "";
    height: 2.5px;
    width: 2rem;
    background-color: white;
    margin: 0.2rem;
    transition: 0.2s;
  }

@media screen and (max-width: 1128px ) {

    .logo {
        margin: auto;
    }

    .nav-ul {
        flex-direction: column;
        line-height: 5rem;
        position: absolute;
        top: 4rem;
        left: 0;
        right: 0;
        transform: translateY(-150%);
        transition: 0.5s;
        z-index: 1;
        height: 95vh;
    }

    .hamburger {
        display: flex;
    }

    .active-ul {
        transform: translateY(0%);
    }

    .active-ham1 {
        transform: rotate(-45deg);
        transform-origin: 70% center;
    }

    .active-ham2 {
        display: none;
    }
    
    .active-ham3 {
        transform: rotate(45deg);
        transform-origin: 70% center;
    }
}