@import url(./constants.css);


header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size:  2rem;
    font-family: var(--inter);
    letter-spacing: 0.3rem;
}

.nav-ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-li {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 0 1rem;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
}

.nav-btn {
    background-image: var(--primary-gradient);
    border-radius: 2rem;
    font-size: 1rem;
    padding: 0.8rem 1rem;
    border: none;
    color: white;
    text-transform: uppercase;


}